body{
  background-color: #3e3e54;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.chart{
  background-color: #3e3e54;
  color: #9f9faa
}

.pleasework {
  border: solid;
  border: green;
  font-family: 'Open Sans', sans-serif;
}
